@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  button:not(:disabled) { cursor: pointer; }
  input, textarea, select { cursor: text; }
  select { cursor: pointer; }
  label[for], label > input { cursor: pointer; }
  @keyframes scan {
    0%   { top: 0%; }
    100% { top: 100%; }
}

}

@keyframes campanear {
  0%   { transform: rotate(0deg); }
  10%  { transform: rotate(15deg); }
  20%  { transform: rotate(-15deg); }
  30%  { transform: rotate(12deg); }
  40%  { transform: rotate(-12deg); }
  50%  { transform: rotate(8deg); }
  60%  { transform: rotate(-8deg); }
  70%  { transform: rotate(4deg); }
  80%  { transform: rotate(-4deg); }
  90%  { transform: rotate(2deg); }
  100% { transform: rotate(0deg); }
}

.campana-hover:hover .campana-icono {
  animation: campanear 0.8s ease;
  color: #7c3aed;
  fill: #7c3aed;
}